.repository h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.repository_container {
    background-color: #2b3566;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1rem;
    gap: 1.2rem;
}